@import '~antd/lib/style/themes/default.less';
@greyColor: #fafafa;
@vPadding: 25px;
@hPadding: 20px;
@leftWidth: 252px;
@mainColor: @blue-6;
@navItemBackgroundColor: rgb(24 144 255 / 7.5%);

#editor {
  display: flex;
  height: 100vh;
}

#editor-module-nav {
  width: @leftWidth;

  :global {
    .ant-tabs {
      height: 100%;

      .ant-tabs-nav {
        background-color: @greyColor;

        .ant-tabs-nav-list {
          padding-top: @vPadding;

          .ant-tabs-tab {
            padding: 0 15px;
          }
        }
      }

      .ant-tabs-content-holder {
        .ant-tabs-content {
          height: 100%;

          .ant-tabs-tabpane {
            padding: 0;
          }

          /* 导航栏渲染 内容 start */
          .nav-pane {
            height: 100%;
            padding: @vPadding @hPadding;

            .nav-item-container {
              display: flex;
              flex-wrap: wrap;

              .nav-item {
                display: flex;
                width: 70px;
                height: 60px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 12px 12px 0;
                background: @navItemBackgroundColor;
                border-radius: 2px;
                cursor: pointer;
                font-size: small;

                &:nth-child(2n) {
                  margin-right: 0;
                }

                &:hover {
                  background-color: @mainColor;
                  color: #fff;
                }

                .nav-item-text {
                  margin-top: 4px;
                }

                svg {
                  margin-top: 4px;
                }
              }
            }
          }

          /* 导航栏渲染 内容 end */
        }
      }
    }
  }
}

#editor-module-canvas {
  flex-grow: 1;
  background-color: #f5f6fa;
  position: relative;
}
// #f5f6fa 背景
// #e7e8e8 边框
